{% for product in products %}

<a href="?c=product&a=card&id={{ product.id }}"><h2>{{ product.name }}</h2></a>
<p>{{ product.description }}</p>
<p>Стоимость: {{ product.price }}</p>

{% endfor %}

<a href="?c=product&a=catalog&page={{ page }}">Еще 2 ...</a>
